
@model IEnumerable<VehicleSummary>

<h1>
	Araçlar
</h1>

<div class="row">
	<div class=" col-12 col-sm-10 col-md-10">

		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-success">
				@TempData["SuccessMessage"]
			</div>
		}
		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger">
				@TempData["ErrorMessage"]
			</div>
		}

		<div class="float-end">
			<a class="btn btn-outline-primary btn-sm" asp-controller="Vehicle" asp-action="Create">
				Yeni Ekle
			</a>
		</div>
			<table class="table table-striped ">
				<thead>
					<tr>
						<th>Id</th>
						<th>Marka Adı</th>
						<th>Model Adı</th>
						<th>Plaka Numarası</th>
						<th>Ruhsat Numarası</th>
						<th>Trafiğe Çıkış Tarihi</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					
						@foreach (VehicleSummary item in Model)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.VehicleMakeName</td>
								<td>@item.VehicleModelName</td>
								<td>@item.PlateNumber</td>
								<td>@item.RegistrationNumber</td>
								<td>@item.RegistrationDate</td>

							<td class="text-end">
								<a class="btn btn-outline-primary btn-sm" asp-controller="Vehicle" asp-action="Update" asp-route-id="@item.Id">Düzenle</a>
								<form asp-action="Delete" method="post" class="delete-form d-inline-block">
									<input type="hidden" value="@item.Id" name="Id">
									<button class="btn btn-outline-danger btn-sm">Sil</button>
								</form>
							</td>
							</tr>
						}
					
				</tbody>
			</table>
	</div>


</div>

@section Scripts{
    <script>
        let deleteForms = document.getElementsByClassName('delete-form');

        for (let i = 0; i < deleteForms.length; i++) {
            deleteForms[i].addEventListener('submit', function (e) {

                let isConfirmed = confirm('Dikkat Bu kayıt silinecek. Devam etmek istiyor musunuz?');
                if (!isConfirmed) {
                    e.preventDefault();
                }
            });
        }
    </script>
}